.conteudo {
<<<<<<< HEAD
  min-width: 400px;
  padding: 10vh 8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10em;
=======
    min-width: 500px;
    padding: 10vh 8em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
>>>>>>> d9e51a1fde2e19b52dabeaf942113474eb500607
}