@import '../../styles/variaveis';

.botao {
  background-color: $fundo-botao;
  color: $branco;
  border: 2px solid transparent;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 30px;
  transition: transform .4s;

  &:hover {
    transform: scale(1.2);
  }
}